<style>
.table>tbody>tr>td.dayOn{
  background-color: #c50707;
  padding: 0;
}
.table>tbody>tr>td.dayOn a{
  padding: 12px 8px;
  display: block;
  font-weight: 700;
}
.dayOn a:hover, .dayOn a:active, .dayOn a:focus{
  background-color: #fff;
  color: #c50707;
}
table, table *{
  border: none !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  padding: 12px 8px;
}
</style>
<table class="table table-bordered" style="max-width: 400px; margin: 0 auto;">
  <thead>
    <tr>
      <th colspan="7">
        <p style="text-align: center; display: block; margin: 0;">October 2016</p>
      </th>
    </tr>
    <tr>
      <th>Su</th>
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th>Sa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="muted"></td>
      <td class="muted"></td>
      <td class="muted"></td>
      <td class="muted"></td>
      <td class="muted"></td>
      <td class="muted"></td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077479443">1</a></td>

    </tr>
    <tr>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077480446">2</a></td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077481449">7</a></td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077482452">8</a></td>
    </tr>
    <tr>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077483455">9</a></td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077484458">14</a></td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077485461">15</a></td>
    </tr>
    <tr>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077486464">16</a></td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      <td>20</td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077487467">21</a></td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077488470">22</a></td>
    </tr>
    <tr>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077489473">23</a></td>
      <td>24</td>
      <td>25</td>
      <td>26</td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077490476">27</a></td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077491479">28</a></td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077492482">29</a></td>
    </tr>
    <tr>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077493485">30</a></td>
      <td class="dayOn"><a target="_blank" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077494488">31</a></td>
      <td class="muted">1</td>
      <td class="muted">2</td>
      <td class="muted">3</td>
      <td class="muted">4</td>
      <td class="muted">5</td>
    </tr>

  </tbody>
</table>
