<nav class="navbar navbar-light bg-faded" id="nav-sticky">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link page-scroll" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link page-scroll" href="#calendar">Calendar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.google.com/maps/place/Lucas+County+Recreation+Center/@41.5846701,-83.6456064,17z/data=!3m1!4b1!4m5!3m4!1s0x883c79d7e53ec6f9:0x28841997e3c660ea!8m2!3d41.5846701!4d-83.6434177" target="_blank">Map</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.facebook.com/Revelations-Haunted-Attractions-1507656599474730/photos/?tab=album&album_id=1507661186140938" target="_blank">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link hidden-sm hidden-xs" href="#" target="_blank" data-toggle="modal" data-target="#videoModal">Video</a>
      <a class="nav-link hidden-md hidden-lg" href="https://www.youtube.com/watch?v=casXTzrA7BM#" target="_blank">Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.eventbrite.com/e/house-of-damnation-haunted-house-tickets-26077478440" target="_blank">Tickets</a>
    </li>
  </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>House of Damnation Video</strong>
      </div>
      <div class="modal-body">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/casXTzrA7BM" frameborder="0" allowfullscreen id="player" class="player"></iframe>
      </div>
    </div>
  </div>
</div>
